@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "themes/dark-mode.css";
  @import "themes/light-mode.css";
}

body {
  color: var(--color-primary);
  background: var(--color-background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
